* { 
  borer: 1px solid rgba(0, 0, 0, 0.3);
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	background-image: url("/Users/WilliamCrozier/Desktop/ua_bootCamp/Homework/Basic-Portfolio/assets/images/topography.png");
}


html {
	min-height: 100%;
	margin: 0;
	padding: 0;
	overflow:scroll;
}

#wrapper {
	min-height: 100%;
	min-width: 100%;
	position: relative;
}

/* Styling for the header*/
.header {
	height: 90px;
	background: #b2c2bf;
	border-bottom: 3px solid #eaece5;
}

/* Styling for name */
#name {
	height: 100%;
	width: 275px;
	position: relative;
	left: 155px;
	background: #3b3a30;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 36px;
	color: #eaece5;
}

/* Horizontally and vertically centers name */
h1 {
	position: relative;
	text-align: center;
	top: 50%;
	transform: translateY(-50%);
}
/* Styling for navigation bar text */
.nav {
	height:100%;
	width: 400px;
	position: relative;
	left: 780px;
	bottom: 92px;
	float: left;
	color: white;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px;
	text-align: center;
}


#about {
	display: inline-block;
	clear: both;
	position: relative;
  	top: 50%;
  	margin: 0px;
  	transform: translateY(-50%);
  	width: 80px;
  	text-align: center;
}

#portfolio {
	display: inline-block;
	position: relative;
  	top: 50%;
  	transform: translateY(-50%);
  	width: 100px;
  	text-align: center;
  	border-left: 0.5px solid #eaece5;
  	border-right: 0.5px solid #eaece5;
}

#contact {
	display:inline-block;
	position: relative;
	text-align: center;
  	top: 50%;
  	transform: translateY(-50%);
  	width: 80px;
  	text-align: center;
}

.bodycontainer {
	position: relative;
	top: 40px;
	left: 155px;
	width: 650px;
	border: 3px solid #eaece5;
	background-color: #b2c2bf;
}

.bodyheader {
	position: relative;
	margin: 0px 30px 0px 30px;
	height: 100px;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 36px;
	color: #3b3a30;
	border-bottom: 3px solid #eaece5;
}

/* styling for content header text */
h2 {
	position: relative;
	float:left;
	right: 372px;
	top: 50%;
	transform: translateY(-50%);
}

.content {
	clear:both;
	margin: 30px 30px 30px 30px;	
	overflow: auto;
}

#profpic {
	position: relative;
	height: 150px;
	width: 200px;
	float: left;
	padding: 0px 25px 20px 0px;
}

p {
	position: relative;
	line-height: 30px;
	font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px;
	color:  #3b3a30;
}

.connect {
	float: left;
	width: 270px;
	height: 205px;
	position: fixed;
	left: 848px;
	bottom: 454px;
	border: 3px solid #eaece5;
	background-color: #b2c2bf;

}

.connectheader {
	clear:both;
	position:relative;
	margin: 0px 30px 0px 30px;
	height: 75px;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 24px;
	text-align: center;
	color: #3b3a30;
	border-bottom: 3px solid #eaece5;
}

.connectbody {
	margin: 25px 30px 0px 30px
}

/* Styling for social media images */
#githublink {
	width: 60px;
	height: 60px;
	margin-right: 10px;
}

#gitHub {
	width: 60px;
	height: 60px;
	margin-right: 10px;
}


#linkedIn {
	width: 60px;
	height: 60px;	
}

#stack {
	width: 60px;
	height: 60px;
	float:right;
}


.projectsleft {
	width: 265px;
	height: 200px;
	position: relative;
	display: inline-block;
	margin: 0px 50px 45px 0px;
}

.projectsright {
	width: 265px;
	height: 200px;
	position: relative;
	display: inline-block;
	object-fit: contain;
}

h3 {
	position: relative;
	text-align: center;
	top: 133px;
	height: 55px;
	line-height: 55px;
	background: #3b3a30;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 18px;
	color: #eaece5;
	opacity: 0.7;
}

footer {
	clear:both;
	background: black;
	height: 100px;
	z-index: 2;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    color: #3b3a30;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px;
}

input[name="Message"] {
	size:100;
}

input[type=submit] {
	background: #3b3a30;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 24px;
	color: #eaece5;
	outline: none;
}

/* Necessary for spacing "Message" from <textarea> for multi-line text entry */
#messageinput {
	Padding-bottom: 10px;
}

form {
	color: #eaece5;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px;
}

#footer {
	height: 40px;
	width: 100%;
	background: #96897f;
	position: absolute;
	left: 0px;
	bottom: 0px;
}

a {
	color: #3b3a30;
	text-decoration:none;

}